<!DOCTYPE html>
<html lang="pt_br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ecoleta | Dev Paloma Menezes</title>

	<!-- Desenvolvido por Paloma Menezes
		Através das aulas da Semana #NWL Rocketseat -->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

	<!-- Arquivo de Estilo CSS -->
	<link rel="stylesheet" href="./assets/css/main.css">
	<link rel="stylesheet" href="./assets/css/home.css">
	<link rel="stylesheet" href="./assets/css/modal.css">

	<!-- Arquivo de CSS Responsivo -->
	<link rel="stylesheet" href="./assets/css/responsive.css">
	
</head>
<body>

	<div id="page-home">
		<div class="content">

			<header>
				<img src="./assets/images/logo.svg" alt="Logomarca">
				<a href="/create-point">
					<span> </span>
					Cadastre um ponto de coleta
				</a>
			</header>
			
			<main>
				<h1>Seu marketplace de coleta de resíduos</h1>
				
				<p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
				
				<a href="#"> <span></span> <strong>Pesquisar pontos de coleta</strong></a>
			</main>
	
		</div>
	</div>

	{% include "parts/modal.html" %}

	<script src="/assets/scripts/index.js"></script>
</body>
</html>