<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
            <title>Ecoleta | Dev Paloma Menezes</title>
        {% endblock title %}

        <!-- Desenvolvido por Paloma Menezes Através das aulas da Semana #NWL Rocketseat -->

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

        <!-- Arquivo de Estilo CSS -->
        <link rel="stylesheet" href="./assets/css/main.css">

        {% block styles %}{% endblock styles %}

        <!-- Arquivo de CSS Responsivo -->
        <link rel="stylesheet" href="./assets/css/responsive.css">

    </head>
    <body>
        <div id="{{ pageId }}">

            {% block content %}{% endblock content %}

        </div>

        {% block modal %}{% endblock modal %}

        {% block scripts %}{% endblock scripts %}

    </body>
</html>