<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <!-- Arquivo de Estilo CSS -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/search.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">

</head>

<body>

    <div id="page-search-results">

            {% include "parts/page-header.html" %}

            <main>

                <h4>
                    <strong>2 pontos</strong> encontrados
                </h4>
                
                <div class="cards">
                    <div class="card">
                        <img src="/assets/images/residuos.jpg" alt="Collectoria">
                        <h1>Collectoria</h1>
                        <h3>Resíduos Eletrônicos, Lâmpadas</h3>
                        <p>Rio do Sul, Santa Catarina <br>
                            Guilherme Gemballa, Jardim Amédica <br>
                            Nº 260
                        </p>
                    </div>

                    <div class="card">
                        <img src="/assets/images/papelao.jpg" alt="Papersider">
                        <h1>Papersider</h1>
                        <h3>Papéis e Papelão</h3>
                        <p>Rio do Sul, Santa Catarina <br>
                            Guilherme Gemballa, Jardim Amédica <br>
                            Nº 260
                        </p>
                    </div>
                </div>
            </main>

    </div>

</body>

</html>